<div class="main-content animated fadeIn">
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
          <div class="card"><br />
            <div class="header">
              <h4 class="title">Expo Layout</h4>
              <p class="category">Layout of all stands at the expo</p>
            </div>
            <div style="padding: 20px; text-align: center;">
              <img src="https://www.socallinuxexpo.org/past/2005/images/layout.jpg"  style="max-width: 100%; height: auto;"/>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
